body {
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-bar {
  background-color: aqua;
  padding: 10px;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  display: inline-block;
  padding-right: 2rem;
}

.title {
  font-size: 3rem;
  color: #333;
}
